@import '../abstract/mixins';

.login-container {
    display: grid;
    grid-template-columns: 0 1fr;
    @include lg {
        grid-template-columns: 60% 40%;
    }
    .login-image{
        height: 100vh;
        background-image: url(https://source.unsplash.com/random);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .login-form-container{
        .login-form-wrapper {  
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}